.mainBody {
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data__tables {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width:990px) {
  .home .mainBody { flex-direction: column;  }
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


