body {
  background-color: #282c34;
  color: white;
  font-family: Arial;
  text-align: center;
}

.mainBody {
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.data__tables {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width:990px) {
  .home .mainBody { flex-direction: column;  }
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


