body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.home {

}

.card-container { 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home > h1 {
  padding-top: 30px;
}