body {
  background-color: #282c34;
  color: white;
  font-family: Arial;
  text-align: center;
}

.home {
  display: flex;
  justify-content: flex-end;
}

.data__tables {
  display: flex;
  flex-direction: column;
  padding: 0px 25px; 
}

@media screen and (max-width:990px) {
  .home { flex-wrap: wrap;  }
  .item:first-child { flex-basis: 100%; }
}