.navbar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: #0e1e3b;
}

@media screen and (max-width:990px) {
    .navbar { flex-direction: column;  }
}

.navbar-title {
    color: white;
}

.navbar-title:hover {
    color: red;
}