.navbar {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: #0e1e3b;
}

.navbar__left {
    display: flex;
    justify-content: space-evenly;
}

.navbar__option {
    padding: 10px 20px;
}

.navbar__input {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.navbar__select {
    border-radius:36px;
}

.navbar-title {
    color: white;
}

.navbar-title:hover {
    color: red;
}