.navbar {
    display: flex;
    padding: 25px 50px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: #0e1e3b;
}

.navbar-title {
    color: white;
}

.navbar-title:hover {
    color: red;
}